mixin fullTextGroup(label)
  div.form-group
    label.control-label.col-md-3(for='length')= label
    div.col-md-3
      input#length.form-control(type='text')

mixin colorGroup
  div.form-group
    label.control-label.col-md-3(for='success') Status colours
    div.col-md-2
      div.input-group.colorpicker-s
        input#success.form-control(type='text', placeholder='Success')
        span.input-group-addon
          i
    div.col-md-2
      div.input-group.colorpicker-f
        input#fail.form-control(type='text', placeholder='Fail')
        span.input-group-addon
          i
    div.col-md-2
      div.input-group.colorpicker-a
        input#abort.form-control(type='text', placeholder='Abort')
        span.input-group-addon
          i
    div.col-md-2
      div.input-group.colorpicker-u
        input#unstable.form-control(type='text', placeholder='Unstable')
        span.input-group-addon
          i

mixin buildingColorGroup
  div.form-group
    label.control-label.col-md-3(for='building') Building animation
    div.col-md-2
      select#building.form-control
        option(value='standard') Standard
        option(value='rainbow') Rainbow
        option(value='flashing') Flashing
    div.col-md-2
      div.input-group.colorpicker-anim
        input#unstable.form-control(type='text', placeholder='Unstable', value='#0000FF')
        span.input-group-addon
          i
    div.col-md-2
      input#speed.form-control(type='text', placeholder='Speed in ms')
    div.col-md-2
      button.btn.btn-info.form-control Show me

mixin buttonGroup(label, buttonName, buttonLabel, message)
  div.form-group
    label.control-label.col-md-3(for='length')= label
    div.col-md-3
      button.btn.btn-primary.form-control(id=buttonName, name=buttonName)= buttonLabel
    div.col-md-6
      span.help-block= message

mixin checkboxGroup(id, label)
  div.form-group
    div.col-md-offset-3.col-md-9
      div.checkbox
        label= label
          input(type='checkbox', id=id, name=id)

mixin fileUploadGroup(id, label)
  div.form-group
    label.control-label.col-md-3(for=id)= label
    div.col-md-9
      input(type='file', id=id, name=id, class='button')