mixin fullTextGroup(label)
  div.form-group
    label.control-label.col-md-2(for='length')= label
    div.col-md-3
      input#length.form-control(type='text', ng-model='stripeLength')

mixin colorGroup
  div.form-group
    label.control-label.col-md-2(for='success') Status colours
    div.col-md-2
      div.input-group.colorpicker-s
        input#success.form-control(type='text', placeholder='Success')
        span.input-group-addon
          i
    div.col-md-2
      div.input-group.colorpicker-f
        input#fail.form-control(type='text', placeholder='Fail')
        span.input-group-addon
          i
    div.col-md-2
      div.input-group.colorpicker-a
        input#abort.form-control(type='text', placeholder='Abort')
        span.input-group-addon
          i
    div.col-md-2
      div.input-group.colorpicker-u
        input#unstable.form-control(type='text', placeholder='Unstable')
        span.input-group-addon
          i

mixin buildingColorGroup
  div.form-group
    label.control-label.col-md-2(for='building') Building status
    div.col-md-3
      select#building.form-control(ng-model='building.animation')
        option(value='') -- Animation --
        option(value='standard') Standard
        option(value='rainbow') Rainbow
        option(value='flashing') Flashing
        option(value='kinghtrider') Knight Rider
    div.col-md-3
      div.input-group.colorpicker-anim
        input#unstable.form-control(type='text', placeholder='Unstable', value='#0000FF', ng-model='building.colour')
        span.input-group-addon
          i
    div.col-md-2
      input#speed.form-control(type='text', placeholder='Speed in ms', ng-model='building.speed')
    div.col-md-2
      button.btn.btn-info.form-control(ng-click='animate()') Show me

mixin buttonGroup(label, buttonName, buttonLabel, message)
  div.form-group
    label.control-label.col-md-2(for='length')= label
    div.col-md-3
      button.btn.btn-primary.form-control(id=buttonName, name=buttonName,ng-click='executeTest()')= buttonLabel
    div.col-md-7
      small.help-block= message

mixin checkboxGroup(id, label)
  div.form-group
    div.col-md-offset-2.col-md-9
      div.checkbox
        label= label
          input(type='checkbox', id=id, name=id, ng-model='enableSounds')

mixin fileUploadGroup(id, label)
  div(ng-show='enableSounds', flow-files-submitted='$flow.upload()')
    div.form-group
      label.control-label.col-md-2(for=id)= label
      div.col-md-9
        div.flow-drop(flow-drop)
          span.btn.btn-default(flow-btn) Upload files
          strong  OR
          span  drag and drop your files here
    div.form-group
      div.col-md-2.col-md-offset-2
        a.btn.btn-small.btn-success(ng-click='$flow.resume()') Resume all
      div.col-md-2
        a.btn.btn-small.btn-danger(ng-click='$flow.pause()') Pause all
      div.col-md-2
        a.btn.btn-small.btn-info(ng-click='$flow.cancel()') Cancel all
      div.col-md-2
        span.label.label-info Total Size: {{$flow.getSize()}} bytes
    div.form-group(ng-repeat='file in $flow.files')
      div.col-md-6.col-md-offset-2
        p {{file.relativePath}} ({{file.size}} bytes)
        div.progress.progress-striped(ng-class='{active: file.isUploading()}')
          div.progress-bar(role='progressbar', aria-valuenow='{{file.progress() * 100}}', aria-valuemin='0', aria-valuemax='0', ng-style='{width: (file.progress() * 100) + "%"}')
            span.sr-only {{file.progress()}}% complete
        div.btn-group
          a.btn.btn-xs.btn-warning(ng-click='file.pause()', ng-show='!file.paused && file.isUploading()') Pause
          a.btn.btn-xs.btn-warning(ng-click='file.resume()', ng-show='file.paused') Resume
          a.btn.btn-xs.btn-danger(ng-click='file.cancel()') Cancel
          a.btn.btn-xs.btn-info(ng-click='file.retry()', ng-show='file.error') Retry
      div.col-md-3(ng-show='file.isComplete()')
        select.form-control(ng-model='sound', ng-change='$parent.updateSound(this)')
          option(value='') -- Please choose --
          option(value='success') Success
          option(value='fail') Fail
          option(value='abort') Abort
          option(value='unstable') Unstable